@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700&subset=latin,latin-ext);
.btnadd:hover, .submitbtn:hover, #submenu, .RemixComp, .RemixComp .functionbtn form input:hover, .RemixComp .functionbtnfull form input:hover, .RemixComp .functionbtn .enterbtn:hover, .RemixComp .functionbtnfull .enterbtn:hover, .commentBox .comment, #register, .half, .admin, .pagination li, .pagination .active:hover, .userinfo, .votableSongs form input:hover, .profilebody, .registerbtn:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

header .navblock .add, .RemixComp .trackinfo li button:hover, .login-popup, .submit-popup {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

header .navblock .add:hover, .modalDialog {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.submit-popup {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

form {
  margin: 25px 15px; }
  form input, form textarea {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #a5a5a5;
    padding: 7px 10px;
    margin: 7px 0 25px 0;
    width: 97%;
    font-size: 14px;
    color: #35404f;
    overflow: hidden; }
    form input[type="file"], form textarea[type="file"] {
      border: none;
      margin-top: 0px; }
    form input[type="checkbox"], form textarea[type="checkbox"] {
      margin: 2px 0px;
      width: 50px; }
  form select {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #a5a5a5;
    padding: 7px 10px;
    margin: 7px 0 25px 0;
    font-size: 14px;
    color: #35404f; }
  form #imagePreview {
    width: 60px;
    height: 60px;
    background-position: center center;
    background-image: url("/img/noimg.jpg");
    background-size: cover;
    border-radius: 50%; }
  form #headerPreview {
    width: 100%;
    margin: 10px 12px;
    height: 140px;
    background-position: center center;
    background-image: url("/img/noimg.jpg");
    background-size: cover;
    border-radius: 2px; }
  form label {
    font-size: 12px;
    font-weight: 500;
    color: #777; }
  form .one-line {
    width: 40%;
    float: left;
    margin-right: 10%; }
  form .needed {
    color: #e45f56;
    font-weight: 500; }
  form .small-form {
    width: 25%;
    margin-right: 5%; }
  form .medium-form {
    width: 70%;
    margin-right: 0; }
  form .float-right {
    float: right; }

.searchform {
  margin: 0;
  padding: 0;
  height: 47px; }
  .searchform input {
    width: auto;
    padding: 5px; }
    .searchform input:focus {
      border: 1px solid #4aaaa5; }
    .searchform input[type="submit"] {
      background: #4aaaa5;
      color: #ffffff;
      border: none; }

.loginbox input {
  margin: 10px 0px; }

.clear {
  clear: both; }

.btnadd {
  background: #4aaaa5;
  border: none;
  padding: 12px 25px;
  width: auto;
  color: #ffffff;
  float: right; }

.centerbtn {
  display: block;
  padding: 12px 52px; }

.simplebtn {
  border-radius: 2px;
  background: white;
  color: #777;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  padding: 12px 25px;
  transition: all 0.3s;
  margin-left: 250px;
  margin-top: 15px; }

.submitbtn {
  width: auto;
  background: #4aaaa5;
  color: #ffffff;
  border: none;
  float: right; }

h3 {
  font-size: 24px;
  color: #a5a5a5; }

html {
  font-family: "Roboto", Helvetica, Arial, sans-serif; }

img {
  vertical-align: bottom; }

body {
  background: #f5f5f5; }

header {
  height: 195px;
  background-image: url("/img/header.jpg");
  background-size: cover;
  border-bottom: 4px solid #35404f;
  width: 100%;
  min-width: 960px; }
  header .navblock {
    width: 70%;
    margin: 0 auto;
    min-width: 960px; }
    header .navblock h3 {
      font-size: 60px;
      color: #f5f5f5;
      padding-top: 60px;
      padding-bottom: 50px;
      padding-left: 20px; }
      header .navblock h3 i {
        font-weight: 300;
        color: #e45f56; }
    header .navblock ul#main-nav li, header .navblock ul#main-nav a {
      display: inline;
      color: white;
      font-size: 14px;
      margin: 0 15px;
      padding: 0 5px;
      padding-bottom: 8px; }
    header .navblock ul#main-nav a {
      text-decoration: none;
      margin: 0;
      transition: all 0.3s; }
      header .navblock ul#main-nav a:hover {
        color: white;
        border-bottom: 4px solid #e45f56; }
    header .navblock ul#main-nav .active {
      border-bottom: 4px solid #e45f56; }
    header .navblock #profile-nav {
      display: flex;
      align-items: center;
      padding: 10px;
      float: right; }
      header .navblock #profile-nav .profilemenu {
        position: relative;
        font-size: 12px;
        color: #909ba8;
        margin: 0 4px;
        transition: all 0.3s; }
        header .navblock #profile-nav .profilemenu a {
          color: #909ba8;
          text-decoration: none;
          padding: 3px 5px; }
        header .navblock #profile-nav .profilemenu .unacceptedCount, header .navblock #profile-nav .profilemenu .notificationCount {
          position: absolute;
          top: 25px;
          left: 10%;
          color: #ffffff;
          font-size: 12px;
          background: #e45f56;
          border-radius: 4px;
          padding: 3px 7px; }
        header .navblock #profile-nav .profilemenu .notificationCount {
          top: 23px; }
      header .navblock #profile-nav .adminbtn {
        font-size: 20px;
        font-weight: 500; }
      header .navblock #profile-nav .newnotif {
        color: #e45f56; }
      header .navblock #profile-nav .profile {
        display: flex;
        align-items: center;
        font-size: 14px; }
        header .navblock #profile-nav .profile .profileimg {
          display: block;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          text-align: center;
          border: 1px solid #909ba8; }
        header .navblock #profile-nav .profile a {
          padding: 2px 5px; }
      header .navblock #profile-nav .login-window {
        font-size: 14px; }
    header .navblock .add {
      position: absolute;
      right: 20%;
      top: 171px;
      background-color: #e45f56;
      border: none;
      color: #f5f5f5;
      font-size: 30px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      transition: all 0.3s; }
      header .navblock .add:hover {
        background: #ff5252; }

#submenu {
  width: 100%;
  min-width: 960px;
  background-color: white;
  height: 50px; }
  #submenu ul {
    display: flex;
    align-items: center;
    height: 50px;
    width: 70%;
    margin: 0 15%;
    color: #4aaaa5;
    font-weight: 300;
    font-size: 14px; }
    #submenu ul li {
      padding: 18px 12px;
      padding-bottom: 14px;
      margin: 5px 0px; }
      #submenu ul li .notif, #submenu ul li .notif_count {
        background: #e45f56;
        padding: 2px 4px;
        border-radius: 2px;
        color: #ffffff;
        font-size: 12px;
        margin-left: 3px; }
      #submenu ul li .notif_count {
        background: #a5a5a5; }
    #submenu ul .compnavl {
      font-weight: 400;
      color: #777;
      margin-bottom: 5px;
      border-bottom: 4px solid white;
      transition: all 0.3s; }
      #submenu ul .compnavl:hover {
        border-bottom: 4px solid #4aaaa5; }
    #submenu ul .activesub {
      border-bottom: 4px solid #4aaaa5; }
    #submenu ul a {
      color: #777;
      text-decoration: none; }
      #submenu ul a:hover {
        color: #35404f; }
    #submenu ul .title {
      border-bottom: 4px solid white;
      font-weight: 400; }

article {
  width: 70%;
  height: auto;
  margin: 0 auto;
  min-width: 960px;
  margin-top: 25px; }
  article #comprow {
    width: 66.5%;
    margin: 0 20px;
    float: left; }
  article #sidebarrow {
    width: 27%;
    height: auto;
    margin-right: 20px;
    margin-top: 20px;
    float: right; }
  article #full {
    width: 98%;
    margin: 20px 10px; }

.sidetitle {
  font-size: 18px;
  color: #a5a5a5;
  width: 100%; }

#socialme {
  font-size: 12px;
  color: #a5a5a5;
  display: table;
  margin: 20px 0; }
  #socialme li {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px; }

.Latestwinner {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #f5f5f5;
  transition: all 0.3s; }
  .Latestwinner:hover {
    background-color: #eee;
    border-radius: 6px;
    border: 1px solid #d0d0d0; }
  .Latestwinner li {
    vertical-align: middle;
    padding: 0 7px; }
    .Latestwinner li img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 1px white solid; }
  .Latestwinner .latestWin-place {
    font-size: 12px;
    color: white;
    border-radius: 6px;
    background-color: #a3d39c;
    padding: 5px; }
  .Latestwinner .latestWin-compname {
    font-size: 14px;
    max-width: 130px;
    overflow: hidden;
    color: #a5a5a5; }

button.clasic {
  width: 100%;
  font-size: 14px;
  background-color: #f5f5f5;
  color: #a5a5a5;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 10px;
  margin-bottom: 20px;
  border: 1px solid #f5f5f5;
  transition: all 0.3s; }
  button.clasic:hover {
    border: 1px solid #a5a5a5;
    border-radius: 2px; }

.RemixComp {
  display: block;
  position: relative;
  background-color: white;
  border-radius: 2px;
  width: 95%;
  margin-bottom: 25px; }
  .RemixComp .comphead {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 2px 2px 0 0; }
  .RemixComp .comp-auth {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 95px;
    left: 15px;
    border: 2px white solid; }
  .RemixComp .comp-end, .RemixComp .comp-title, .RemixComp .comp-left {
    position: absolute;
    background-color: #35404f;
    top: 35px;
    right: 15px;
    font-size: 13px;
    color: white;
    background-color: #35404f;
    padding: 2px 8px;
    padding-top: 4px;
    border-radius: 10px; }
  .RemixComp .comp-title {
    top: 10px;
    max-width: 550px;
    height: 18px;
    overflow: hidden;
    font-size: 16px; }
  .RemixComp .comp-left {
    background-color: #e45f56;
    top: 58px; }
  .RemixComp .trackinfo {
    font-size: 12px;
    color: #35404f;
    display: flex;
    align-items: center;
    height: 35px;
    margin-left: 100px;
    overflow: hidden; }
    .RemixComp .trackinfo b {
      font-weight: bold;
      color: #4aaaa5; }
    .RemixComp .trackinfo li {
      margin-right: 10px; }
      .RemixComp .trackinfo li button {
        background-color: #4aaaa5;
        color: white;
        border-radius: 2px;
        border: none;
        margin-left: 10px;
        transition: all 0.3s; }
  .RemixComp p {
    font-size: 14px;
    color: #35404f;
    margin: 10px 15px;
    line-height: 18px; }
    .RemixComp p b {
      font-weight: bold;
      color: #4aaaa5; }
  .RemixComp .soundcloud {
    width: 100%;
    height: 160px; }
  .RemixComp .youtube {
    width: 100%;
    height: 340px; }
  .RemixComp .moreinfo {
    display: flex;
    align-items: center;
    margin: 0 8px;
    height: 50px; }
    .RemixComp .moreinfo li {
      font-size: 14px;
      margin: 7px;
      font-weight: 300;
      color: #a5a5a5;
      height: 50px;
      min-width: 120px;
      overflow: hidden; }
      .RemixComp .moreinfo li img {
        margin-right: 5px;
        flex: 1; }
      .RemixComp .moreinfo li a {
        text-decoration: none; }
        .RemixComp .moreinfo li a:hover {
          text-decoration: underline; }
      .RemixComp .moreinfo li .url {
        color: #a5a5a5; }
      .RemixComp .moreinfo li .twitter {
        color: #0487e2; }
      .RemixComp .moreinfo li .facebook {
        color: #4157d8; }
  .RemixComp .functions {
    font-size: 14px;
    padding: 15px 8px;
    width: 50%;
    float: left;
    display: flex;
    align-content: center; }
    .RemixComp .functions a {
      text-decoration: none;
      color: #777777; }
      .RemixComp .functions a:hover {
        text-decoration: underline; }
    .RemixComp .functions li {
      margin: 0 10px;
      color: #777777; }
      .RemixComp .functions li form {
        margin: 0; }
        .RemixComp .functions li form input {
          margin: 0;
          background: none;
          border: none;
          width: auto;
          height: auto;
          padding: 0;
          color: #777777;
          transition: all 0.3s; }
          .RemixComp .functions li form input:hover {
            text-decoration: underline;
            color: #717171; }
      .RemixComp .functions li img {
        margin-bottom: 2px; }
    .RemixComp .functions .other {
      margin-top: 2px; }
  .RemixComp .functionbtn, .RemixComp .functionbtnfull {
    width: 47%;
    float: right; }
    .RemixComp .functionbtn li, .RemixComp .functionbtnfull li {
      display: inline-block; }
    .RemixComp .functionbtn form, .RemixComp .functionbtnfull form {
      margin: 0; }
      .RemixComp .functionbtn form input, .RemixComp .functionbtnfull form input {
        display: block;
        margin: 4px 35px 0 0;
        border: none;
        height: auto;
        padding: 10px;
        background: #a3d39c;
        font-size: 14px;
        color: white;
        transition: all 0.3s; }
    .RemixComp .functionbtn .enterbtn, .RemixComp .functionbtnfull .enterbtn {
      background: #777;
      padding: 11px 20px;
      border: none;
      color: #ffffff;
      border-radius: 2px; }
    .RemixComp .functionbtn button, .RemixComp .functionbtnfull button {
      display: block; }
    .RemixComp .functionbtn a, .RemixComp .functionbtnfull a {
      text-decoration: none; }
  .RemixComp .functionbtnfull {
    width: 30%; }

.commentInput {
  width: 600px;
  margin: 0 auto;
  padding-right: 5%; }
  .commentInput form {
    margin: 0;
    padding: 0; }
    .commentInput form textarea {
      height: 70px;
      min-height: 70px;
      min-width: 600px;
      width: 600px;
      max-width: 600px;
      margin-bottom: 0px; }
  .commentInput .commentInfo {
    font-size: 14px;
    color: #777777;
    margin: 0 10px; }
  .commentInput .commentbtn {
    float: none; }
  .commentInput .addcomment {
    float: right; }

.commentBox {
  color: #777777;
  width: 95%;
  margin-right: 5%;
  clear: both; }
  .commentBox .new {
    border: 1px solid #4aaaa5; }
  .commentBox .comment {
    position: relative;
    width: 600px;
    margin: 20px auto;
    background: #ffffff;
    border-radius: 2px;
    min-height: 100px; }
    .commentBox .comment img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 10px;
      float: left; }
    .commentBox .comment h4 {
      margin: 10px 0 0 0px;
      color: #4aaaa5;
      font-size: 16px;
      font-weight: 500; }
    .commentBox .comment span {
      font-size: 12px;
      color: #a5a5a5; }
    .commentBox .comment .metaData {
      margin: 5px 10px;
      float: left;
      width: 80%;
      height: 50px; }
    .commentBox .comment p {
      clear: both;
      margin: 0px 50px 0px 70px;
      padding-bottom: 20px;
      font-size: 14px;
      line-height: 18px;
      color: #35404f; }
    .commentBox .comment .deleteComment {
      position: absolute;
      top: 10px;
      right: 5px;
      border: none;
      background: none;
      color: #777777;
      margin: 0;
      padding: 0;
      width: 20px; }

.login-popup, .submit-popup {
  display: none;
  background: white;
  float: left;
  position: fixed;
  top: 40px;
  right: 15%;
  z-index: 99999;
  width: 250px;
  height: auto;
  border-radius: 2px; }
  .login-popup .close, .submit-popup .close {
    text-decoration: none;
    font-size: 14px;
    color: #555555;
    float: right;
    padding: 5px 10px; }
    .login-popup .close:hover, .submit-popup .close:hover {
      color: #4aaaa5; }
  .login-popup h2, .submit-popup h2 {
    font-size: 18px;
    color: #555555;
    margin: 20px 15px 5px 15px;
    font-weight: 500; }
  .login-popup .boxbody, .submit-popup .boxbody {
    width: 230px;
    color: white; }
    .login-popup .boxbody p, .submit-popup .boxbody p {
      clear: both;
      color: #a5a5a5;
      font-size: 14px;
      width: 150px;
      font-weight: 300;
      margin: 0px 15px 30px 42px;
      text-decoration: none; }
      .login-popup .boxbody p a, .submit-popup .boxbody p a {
        text-decoration: none;
        font-weight: 500;
        color: #4aaaa5; }
        .login-popup .boxbody p a:hover, .submit-popup .boxbody p a:hover {
          text-decoration: underline; }
  .login-popup span, .submit-popup span {
    font-size: 18px;
    color: #a5a5a5;
    margin-left: 5px;
    pointer-events: none; }

.submit-popup {
  width: 400px;
  position: fixed;
  top: 150px;
  right: 40%; }
  .submit-popup h3 {
    padding: 15px; }

.modalDialog {
  position: fixed;
  font-family: Roboto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 1;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in; }
  .modalDialog div {
    width: 350px;
    position: relative;
    margin: 20% auto;
    padding: 20px;
    border-radius: 2px;
    background: #fff; }
  .modalDialog h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px; }
  .modalDialog p {
    font-size: 14px;
    color: #777777; }
  .modalDialog .success_message {
    color: #4aaaa5; }
  .modalDialog .error_message {
    color: #e45f56; }

#register {
  width: 100%;
  height: auto;
  background: white;
  overflow: hidden; }
  #register .centerblock {
    margin: 0 10%;
    padding-top: 30px; }
    #register .centerblock #profpic {
      position: relative;
      font-size: 14px;
      font-weight: 400;
      color: #a5a5a5;
      pointer-events: none; }

.alert {
  font-size: 14px;
  font-weight: 500;
  color: #e45f56;
  border: 1px solid #e45f56;
  background: pink;
  padding: 15px;
  margin: 5px 25px;
  line-height: 130%;
  border-radius: 4px; }
  .alert strong {
    font-weight: bold;
    color: #e45f56; }

.alert-success {
  color: #a3d39c;
  background: lightgoldenrodyellow;
  border: 1px solid #a3d39c; }

.profileimg {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  padding: 0;
  margin: 0; }

.half {
  margin: 20px 10px;
  width: 47.5%;
  float: left;
  background: #ffffff;
  border-radius: 2px;
  padding-bottom: 15px; }
  .half .nothingYet {
    margin: 15px; }
  .half h3 {
    margin: 15px; }
  .half a {
    color: #a5a5a5;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none; }
    .half a:hover {
      text-decoration: underline; }
  .half .commentPrew {
    position: relative;
    margin-left: 4%;
    background: #ffffff;
    border-bottom: 1px solid #f5f5f5;
    min-height: 100px;
    transition: all 0.3s; }
    .half .commentPrew:hover {
      border-radius: 2px;
      background: #f5f5f5; }
    .half .commentPrew img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 10px;
      float: left; }
    .half .commentPrew h4 {
      margin: 10px 0 0 0px;
      color: #4aaaa5;
      font-size: 16px;
      font-weight: 500; }
    .half .commentPrew span {
      font-size: 12px;
      color: #a5a5a5; }
    .half .commentPrew .metaData {
      margin: 5px 10px;
      float: left;
      width: 80%;
      height: 50px; }
    .half .commentPrew p {
      clear: both;
      margin: 0px 50px 0px 70px;
      padding-bottom: 20px;
      font-size: 14px;
      line-height: 18px;
      color: #35404f; }

.admin {
  padding-top: 15px;
  background: #ffffff; }
  .admin h3 {
    margin: 15px 25px; }
  .admin table {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin: 25px 0; }
    .admin table .titlerow, .admin table .wintitlerow {
      color: #a5a5a5;
      cellpadding: 0 25px; }
      .admin table .titlerow td, .admin table .wintitlerow td {
        display: table-cell;
        vertical-align: middle;
        height: 60px;
        border-right: 1px solid #f5f5f5; }
    .admin table .wintitlerow {
      color: #777777;
      background: #f5f5f5; }
      .admin table .wintitlerow td {
        height: 40px;
        border-right: 1px solid #ebebeb; }
    .admin table .userline {
      color: #35404f; }
      .admin table .userline:hover {
        background: #f5f5f5; }
      .admin table .userline h4 {
        font-weight: 500; }
      .admin table .userline a {
        text-decoration: none;
        color: royalblue; }
        .admin table .userline a:hover {
          text-decoration: underline; }
      .admin table .userline img {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center; }
      .admin table .userline td {
        display: table-cell;
        vertical-align: middle;
        height: 60px;
        padding: 0 15px;
        border-right: 1px solid #f5f5f5; }
        .admin table .userline td .change, .admin table .userline td .delete, .admin table .userline td .accept {
          text-decoration: none;
          font-weight: 500;
          color: #4aaaa5; }
          .admin table .userline td .change:hover, .admin table .userline td .delete:hover, .admin table .userline td .accept:hover {
            text-decoration: underline; }
        .admin table .userline td .delete, .admin table .userline td .accept {
          margin: 0;
          padding: 0;
          border: none;
          background: none;
          color: #e45f56; }
          .admin table .userline td .delete:focus, .admin table .userline td .accept:focus {
            outline: 0; }
        .admin table .userline td .accept {
          color: #4aaaa5; }
      .admin table .userline .email {
        max-width: 130px;
        overflow: hidden; }
    .admin table .winnerline {
      background: #f5f5f5;
      color: #35404f; }
      .admin table .winnerline:hover {
        background: #ebebeb; }
      .admin table .winnerline h4 {
        font-weight: 500; }
      .admin table .winnerline a {
        text-decoration: none;
        color: royalblue; }
        .admin table .winnerline a:hover {
          text-decoration: underline; }
      .admin table .winnerline img {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center; }
      .admin table .winnerline td {
        display: table-cell;
        vertical-align: middle;
        height: 60px;
        padding: 0 15px;
        border-right: 1px solid #ebebeb; }
        .admin table .winnerline td .change, .admin table .winnerline td .delete, .admin table .winnerline td .accept {
          text-decoration: none;
          font-weight: 500;
          color: #4aaaa5; }
          .admin table .winnerline td .change:hover, .admin table .winnerline td .delete:hover, .admin table .winnerline td .accept:hover {
            text-decoration: underline; }
        .admin table .winnerline td .delete, .admin table .winnerline td .accept {
          margin: 0;
          padding: 0;
          border: none;
          background: none;
          color: #e45f56; }
          .admin table .winnerline td .delete:focus, .admin table .winnerline td .accept:focus {
            outline: 0; }
        .admin table .winnerline td .accept {
          color: #4aaaa5; }
  .admin .noentry {
    font-size: 14px;
    color: #777777;
    padding: 10px 25px; }

.deleteimg {
  font-size: 14px;
  color: #777777; }

.uniSearch {
  width: 100%;
  margin: 15px 20px;
  padding: 0;
  height: auto; }
  .uniSearch input {
    width: 78%;
    padding: 8px; }
    .uniSearch input:focus {
      border: 1px solid #4aaaa5; }
    .uniSearch input[type="submit"] {
      background: #4aaaa5;
      color: #ffffff;
      width: 60px;
      border: none; }
  .uniSearch h3 {
    padding-bottom: 10px; }

.pagination {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-right: 2px;
  color: #777;
  font-size: 14px; }
  .pagination li {
    background: white;
    padding: 10px; }
    .pagination li:hover {
      background: #f5f5f5; }
    .pagination li a {
      padding: 10px 0;
      text-decoration: none;
      color: #777; }
  .pagination .disabled {
    color: #a5a5a5;
    background: #f5f5f5; }
  .pagination .active {
    background: #a3d39c;
    color: #ffffff; }
    .pagination .active:hover {
      background: #a3d39c; }

.notificationbox {
  width: 100%;
  max-height: 210px;
  overflow-y: auto; }
  .notificationbox a {
    text-decoration: none; }
  .notificationbox .notificationLine {
    padding: 10px 15px;
    font-size: 13px;
    color: #a5a5a5;
    border-radius: 2px; }
    .notificationbox .notificationLine:hover {
      background: #f5f5f5; }
    .notificationbox .notificationLine .subject {
      font-size: 14px;
      color: #35404f;
      font-weight: 500; }

.morenotifications {
  width: 100%;
  height: 40px;
  border: none;
  background: white;
  color: #35404f;
  font-weight: 14px;
  border-radius: 2px; }
  .morenotifications img {
    padding-right: 5px;
    padding-bottom: 1px; }
  .morenotifications a {
    color: #35404f;
    text-decoration: none; }
    .morenotifications a:hover {
      text-decoration: underline; }

.iesutisana, .balsosana, .beidzies {
  background: #4aaaa5;
  color: #ffffff;
  border-radius: 4px;
  padding: 3px 6px; }

.balsosana {
  background: #a3d39c; }

.beidzies {
  background: #e45f56; }

.subminfo {
  display: none;
  padding: 20px 30px 0px 30px; }
  .subminfo form input {
    width: 95%; }
  .subminfo form .submitionbtn {
    background: #4aaaa5;
    color: #ffffff;
    border: none;
    width: 140px; }
  .subminfo .closesubm {
    margin-left: 55%;
    margin-right: 5px;
    padding: 6px 12px;
    font-size: 14px;
    color: #a5a5a5;
    border: 1px solid #a5a5a5;
    border-radius: 2px; }
    .subminfo .closesubm:hover {
      color: #ffffff;
      background: #a5a5a5; }

.nextline {
  margin-top: 20px; }

.userinfo {
  background: #ffffff;
  border-radius: 2px;
  display: flex;
  justify-content: space-between; }
  .userinfo h4 {
    font-size: 18px;
    color: #777777;
    margin: 5px 0; }
  .userinfo span {
    font-size: 34px;
    font-weight: bold;
    color: #a3d39c; }
  .userinfo img {
    margin-bottom: 15px; }
  .userinfo div {
    padding: 20px 70px;
    text-align: center;
    border-right: 1px solid #f5f5f5; }
    .userinfo div:hover {
      background: #f5f5f5; }

.votableSongs .entry {
  position: relative;
  padding: 15px 0;
  border-top: 1px solid #f5f5f5; }
  .votableSongs .entry:hover {
    background: #f5f5f5; }
  .votableSongs .entry .place {
    position: absolute;
    top: 25px;
    left: 10px;
    background: #e45f56;
    color: #ffffff;
    width: 50px;
    border-radius: 4px;
    font-size: 12px; }
    .votableSongs .entry .place span {
      display: block;
      font-size: 24px;
      background: #ffffff;
      color: #777777;
      width: 96%;
      text-align: center;
      padding: 4px 0;
      border: 1px solid #e45f56;
      border-radius: 4px 4px 0 0; }
    .votableSongs .entry .place .first {
      background: #e45f56;
      color: #ffffff; }
    .votableSongs .entry .place p {
      margin: 0;
      padding: 1px 0;
      font-size: 12px;
      width: 100%;
      overflow: hidden;
      text-align: center;
      color: #ffffff; }
.votableSongs form {
  padding: 0;
  margin: 0 10px;
  vertical-align: center; }
  .votableSongs form input {
    padding: 21px 0;
    margin: 0;
    border: none;
    background: #4aaaa5;
    color: #ffffff;
    transition: all 0.3s; }
    .votableSongs form input:hover {
      background: #42a19c; }
.votableSongs ul {
  display: flex; }
  .votableSongs ul .fourFifts {
    margin-left: 70px;
    width: 70%; }
  .votableSongs ul .oneFift {
    width: 17%; }
  .votableSongs ul .fiveFifts {
    margin-left: 70px;
    margin-right: 10px;
    width: 100%;
    height: 100px; }
.votableSongs .voteInfo {
  display: flex;
  align-content: center;
  padding: 5px 70px;
  color: #777777;
  font-size: 14px; }
  .votableSongs .voteInfo li {
    margin-right: 30px; }
    .votableSongs .voteInfo li b {
      font-weight: 500;
      color: #35404f; }

.allEntrys {
  border-top: 1px solid #f5f5f5;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #777;
  padding: 10px 0; }
  .allEntrys:hover {
    color: #4aaaa5; }

.profilebody {
  padding: 15px 0;
  text-align: center;
  background: #ffffff; }
  .profilebody h3 {
    text-align: left;
    padding: 15px; }
  .profilebody img {
    border-radius: 50%;
    height: 70px;
    width: 70px; }
  .profilebody h4 {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #35404f; }
  .profilebody span {
    font-size: 12px;
    color: #ffffff;
    padding: 2px 5px;
    border-radius: 2px; }
  .profilebody .user {
    background: #a3d39c; }
  .profilebody .administrator {
    background: #e45f56; }
  .profilebody h5 {
    font-size: 14px;
    margin: 10px 0;
    color: #777777;
    font-weight: 500; }
  .profilebody a {
    font-size: 14px;
    text-decoration: none;
    color: #777777;
    transition: all 0.3s; }
    .profilebody a:hover {
      color: blue; }

.footer {
  clear: both;
  padding-top: 55px;
  width: 80%;
  margin: 0 auto; }
  .footer ul {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 500; }
    .footer ul li {
      margin: 15px 30px; }
      .footer ul li a {
        color: #a5a5a5;
        text-decoration: none;
        transition: all 0.3s; }
        .footer ul li a:hover {
          color: #e45f56; }
  .footer .aboutpage {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    color: #a5a5a5; }
  .footer .authorinfo {
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 500;
    color: #a5a5a5; }
  .footer .poweredby {
    text-align: center;
    font-size: 14px;
    color: #a5a5a5;
    margin-bottom: 10px; }
    .footer .poweredby a {
      color: orange;
      text-decoration: none; }

.neededinput {
  font-size: 14px;
  color: #777777; }

.registerbtn {
  position: relative;
  background: #ffffff;
  color: #4aaaa5;
  padding: 6px 9px;
  border-radius: 2px;
  top: -15px;
  border: 1px solid #4aaaa5; }
  .registerbtn a {
    color: #4aaaa5;
    text-decoration: none; }

.morevotings {
  text-decoration: none;
  color: #777777; }
  .morevotings:hover {
    text-decoration: underline;
    color: #e45f56; }

.winners {
  background: #ffffff;
  color: #777777;
  padding: 5px; }
  .winners h3 {
    padding: 10px; }
  .winners .winnerblock {
    display: flex;
    justify-content: space-between;
    align-content: center; }
    .winners .winnerblock a {
      text-decoration: none;
      color: #777777; }
    .winners .winnerblock span {
      font-size: 14px;
      background: #e45f56;
      padding: 5px;
      color: #ffffff;
      border-radius: 4px; }
    .winners .winnerblock img {
      border-radius: 50%;
      margin: 0 15px;
      width: 40px;
      height: 40px; }
    .winners .winnerblock .firstplace, .winners .winnerblock .otherplace {
      display: flex;
      align-items: center;
      padding: 20px; }
      .winners .winnerblock .firstplace:hover, .winners .winnerblock .otherplace:hover {
        background: #f5f5f5;
        border-radius: 2px; }
    .winners .winnerblock .otherplace span {
      background: #4aaaa5; }

/*# sourceMappingURL=style.css.map */
